= content_block :tags, :button => buttons_for_tags do
  - if tags.empty?
    %div
      No tag has been added to this
      = @event ? "event" : "location"
  - else
    .taglist= tags.collect{ |tag| link_to(tag.name, tag_path(tag.name)) }.join(", ")
  - form_for [(@event || @location), Tag.new] do |f|
    .displaynone{:style => "height: 55px"}
      .spaceh10
      .floatright= f.submit "Add", :class => "add-button"
      .field
        New tags:
        = f.text_field :name
      .spaceh5
      %small{:style => "padding-left: 72px"} Separate each tag with comma
      .spaceh5
      .clear
.clear
.hr.end