- content_for :javascript do
  == <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=#{GOOGLE_API_KEY}&amp;hl=en" type="text/javascript"></script>
  = javascript_include_tag "map-show"
  :javascript
    var _token = '#{form_authenticity_token}';
    $(document).ready(function(){
      initialize_map(#{@location.lat}, #{@location.lng}, [#{@location.regions_for_google}]);
    });
    
- content_for :headline do
  .floatright
    = button_to_function "Send this to friend", "window.location='#{new_event_mail_path(@event)}'", :id => "send-to-friend" if logged_in?
  .spaceh5
  .tagline.gray{:style => "margin: 0;"}== Event in #{link_to @location.title, location_permalink(@location)}
  %h2= @event.name
  .tagline.gray
    = @event.duration
    == (in #{link_to @event.category.title, category_permalink(@event.category)})

= render "layouts/notice"
.spaceh5
- two_columns do
  .leftcontent
    #participate.big-button.floatleft{:class => "#{"clickable" if logged_in?} #{"active" if logged_in? and @event.participations.exists?(:user_id => @user.id)}", :rel => event_participations_path(@event)}
      .left
        .number= @event.participants.count
        .under participants
      .right
        .tiny I'll be
        .huge Participate!
        
    #watch.second.big-button.floatleft{:class => "#{"clickable" if logged_in?} #{"active" if logged_in? and @event.watcher_ids.include? @user.id}", :rel => event_watchers_path(@event)}
      .left
        .number= @event.watchers.count
        .under watchers
      .right
        .large Watch
        .small this event
    .clear
    
    = render "partials/description", :object => @event.description
    = render "partials/tags", :object => @event.tags
    = render "partials/feedbacks", :object => @event.feedbacks
    
  .rightcontent
    = render "locations/map"
    = render "partials/rating"
    = render "partials/photos", :object => @event.photos
    .spaceh5
    .center
      =link_to "Report inappropriate content", new_report_path(:type => "event", :id => @event.id) if logged_in?