= render "search_bar"

#fullcontent.gray
  .floatleft
    Search result for
    %span.black= @search.keyword
    showing
    = @offset + 1
    \-
    = @offset + 10 > @search.sorted_by_relevance.size ? @search.sorted_by_relevance.size : @offset + 10 
    from
    = @search.sorted_by_relevance.size
  .floatright
    Order by:
    = link_to_unless params[:type] == "relevance", "Relevance", :type => "relevance", :page => params[:page]
    |
    = link_to_unless params[:type] == "added", "Date added", :type => "added", :page => params[:page]
    |
    = link_to_unless params[:type] == "updated", "Last updated", :type => "updated", :page => params[:page]
  .clear

- one_column do
  = content_block do
    .spaceh5
    - @search.send("sorted_by_#{params[:type]}")[@offset, 10].each do |id|
      = render "partials/object", :object => @search.fetch_object(id)
    .spaceh10
    #pagination.center
      