- content_for :headline do
  .showcase.search
    .image
    Search for a location by keyword
  .showcase.browse
    .image
    Browse for a location by category
  .showcase.share
    .image
    Share new location you know
  .clear
      
- two_columns do
  = content_block :featured_place do
    - @featured_places.each do |location|
      .item
        .photo
          = image_tag location.thumbnail
        %h3= link_to location.title, location_permalink(location)
        %small
          in
          - if location.category.parent
            = link_to location.category.parent.title, category_permalink(location.category.parent)
            &gt;
          = link_to location.category.title, category_permalink(location.category)
        .spaceh10
        .content.markdown
          :markdown
            #{location.description}
        .clear
        .hr
  = content_block :recommended_events do
    - @featured_events.each do |event|
      .item
        .photo
          = image_tag event.location.thumbnail
        %h3= link_to event.name
        %small
          %span= pluralize(event.participations.count, "member")
          are going to this event
          %br
          in
          = link_to event.category.title, category_permalink(event.category)
          %br
          at
          = link_to event.location.title, location_permalink(event.location)
        .spaceh10
        .content.markdown
          :markdown
            #{event.description}
        .clear
        .hr
.spaceh5

- three_columns do
  = content_block :recently_added do
    %ul
      - @recently_added.each do |location|
        %li
          %h3= link_to location.title, location_permalink(location)
          %small
            in
            - if location.category.parent
              = link_to location.category.parent.title, category_permalink(location.category.parent)
              &gt;
            = link_to location.category.title, category_permalink(location.category)
  = content_block :updated_location do
    %ul
      - @recently_updated.each do |location|
        %li
          %h3= link_to location.title, location_permalink(location)
          %small
            in
            - if location.category.parent
              = link_to location.category.parent.title, category_permalink(location.category.parent)
              &gt;
            = link_to location.category.title, category_permalink(location.category)
  = content_block :top_contributors do
    %ul
      - @top_contributers.each do |log|
        %li
          %h3= link_to log.user.displayname
          %small
            = log.count_all
            pages, joined
            = log.user.created_at.strftime("%d-%b-%y")
    