- content_for :headline do
  %h2 Edit location's description
  .tagline Give more detail about this location
  
- two_columns do
  = content_block :current_description, :border => true do
    %div{ :style => "font-size: 14px" }
      :markdown
        #{@location.description}
      .spaceh10
      %small Note: This will be overwritten by your version.
      .spaceh5
    
  = content_block :new_description, :border => true do
    - form_for @location do |f|
      .field
        = f.text_area :description, :style => "margin: 0"
      .floatright
        = f.submit "Save", :class => "save-button"
        = button_to_function "Cancel", "window.location='#{location_permalink(@location)}'", :class => "cancel-button"
      .clear
      .spaceh5
  