- content_for :javascript do
  :javascript
    var _token = '#{form_authenticity_token}';

- content_for :headline do
  .floatright
    = button_to_function "Send this to friend", "", :id => "send-to-friend"
  %h2= @location.title
  .tagline
    in
    - if @location.category.parent
      = link_to @location.category.parent.title, category_permalink(@location.category.parent)
      &gt;
    = link_to @location.category.title, category_permalink(@location.category)

= render "layouts/notice"
- two_columns do
  .leftcontent
    = render "partials/description", :object => @location.description
    = render "partials/tags", :object => @location.tags
    = render "partials/feedbacks", :object => @location.feedbacks
    = render "partials/photos", :object => @location.photos
  
  .rightcontent
    = render "partials/rating"
    = content_block :events, :button => button_to_function("Add","window.location='#{new_location_event_path(@location)}'", :class => "small-add-button") do
      - if @location.events.empty?
        No information about the event has been added yet. If you know one, help us by add it to our database.
      - else
        - @location.events.active.each do |event|
          .item
            .floatright.event_badge
              .top{:title => "Number of participants"}= event.participations.count
              .bottom{:title => "Number of watchers"}= event.watchers.count
            %h3= link_to event.name, event_permalink(event)
            %small= event.duration
            .spaceh10
            .content
              .markdown
                :markdown
                  #{event.description}
            .spaceh5
            .clear
            .hr
    .clear
    .hr.end
  